@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: url(font-kit=mem_Ya6iyW-LwqgwarYU&skey=c52ba807e15599a0&v=v27)/*tpa=https://fonts.gstatic.com/l/font?kit=mem_Ya6iyW-LwqgwarYU&skey=c52ba807e15599a0&v=v27*/;
}
