@font-face {
  font-family: 'Julee';
  font-style: normal;
  font-weight: 400;
  src: url(font-kit=TuGfUVB3RpZPQ5ZMq90&skey=47541d5d0acb64ae&v=v26)/*tpa=https://fonts.gstatic.com/l/font?kit=TuGfUVB3RpZPQ5ZMq90&skey=47541d5d0acb64ae&v=v26*/;
}
